SGFrameworkLib/
debug/
projekt.pro.user
projekt.pro.user.2a10600
projekt.pro.user.427483e
projekt.pro.user.8dca761
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
projekt.pro.user.d8dae16
projekt.pro.user.hJK756
